<div id="map" class="h-full"></div>

<ng-template #popupDataTemplate let-poi="poi">
  <div class="popup-content p-1">
    <h2 class="text-lg font-bold">{{ poi.name }}</h2>
    @if(poi.description){
    <p>{{ poi.description }}</p>
    } @if(poi.address){
    <p>{{ poi.address }}</p>
    } @if(poi.phone){
    <p>{{ poi.phone }}</p>
    } @if(poi.www){
    <p>
      <a [href]="poi.www" target="_blank">{{ poi.www }}</a>
    </p>
    } @if(poi.banner) { @if(poi.www) {
    <a [href]="poi.www" target="_blank">
      <ng-container
        *ngTemplateOutlet="banner; context: { bannerUrl: poi.banner }"
      ></ng-container>
    </a>
    } @else {
    <ng-container *ngTemplateOutlet="banner"></ng-container>
    } }
  </div>
</ng-template>

<ng-template #banner let-bannerUrl="bannerUrl">
  <div
    class="popup-content p-1 bg-cover bg-center h-[250px] w-[285px]"
    [ngStyle]="{ 'background-image': 'url(assets/' + bannerUrl + ')' }"
  ></div>
</ng-template>

<div #appWidgets class="hidden">
  <svg
    class="w-[40px] fill-amber-600"
    viewBox="0 0 384 512"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z"
    />
  </svg>
  <i class="pi pi-shopping-bag absolute left-[12px] top-[10px] text-white"></i>
</div>
